.deleteButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.deleteButtonContainer > * {
    margin: 10px;
}

.fa-trash-can {
    margin-left: 4px;
    cursor: pointer;
}
