/* TODO Add site wide styles */



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0
}

#root {
    height: 100%;
    display: flex;
    /* flex-direction: row; */
}

/* Channel Cards ===========================================*/

.channel-card {
    width: 90%;
    border-radius: 4px;
    height: 4%;
    background-color: rgb(47,49,54);
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}

.channel-card:hover {
    width: 90%;
    border-radius: 4px;
    height: 4%;
    background-color: rgb(57,60,67)
}


/* MAIN CHAT DIV  ============================================================================================================================================== */

.chat {
    background-color: rgb(54,57,63);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

/* CHAT TEXT FIELD CONTAINER ================================== */
.chat-field {
    width: 95%;
    background-color: rgba(240, 248, 255, 0.233);
    border-radius: 8px;
    margin-left: 15px;
    outline: none;
    padding: 8px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* VALIDATION ERRORS ===================================================*/

.validationErrors {
    color: red;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
