/* TODO Add site wide styles */



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
    height: 100%;
}

body {

    height: 100%;
    margin: 0
}

::-webkit-scrollbar {
    width: 5px;
}

/* VALIDATION ERRORS ===================================================*/

.validationErrors {
    color: red;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}


button {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font: 15px black sans-serif;
    font-weight: bold;
    /* box-shadow: 1.5px 1.5px #0396A6; */
    border: 1px solid #0D0D0D;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
  }
