.chat {
    display: flex;
    background-color: rgb(54,57,63);
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.chat-field {
    width: 95%;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.233);
    border-radius: 8px;
    margin-left: 15px;
    outline: none;
    padding: 8px;
}

.message-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    margin-bottom: 10px;
    margin-left: 5px;
}

.message {
    margin-top: 5px;
    color: aliceblue;
    font-weight: 300;
}

.message-container{
    padding: 5px;
    margin: 5px;
}

.message-owner{
    font-weight: 600;
    color: rgb(43, 106, 215);
}

.message:hover {
    background-color: rgb(48, 50, 56)

}

.edit-input {
    width: 95%;
    background-color: rgba(240, 248, 255, 0.233);
    border-radius: 8px;
    outline: none;
    padding: 8px;
    color: aliceblue;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
