.server-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.fa-solid.fa-angle-down{
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}

.server-dropdown-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,34,37);
    border-radius: 15px;
    color: #808080;
}

.current-server-name{
    display: flex;
    margin: 0;
}

.server-name-edit{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px 0px;
}

.server-name-edit:hover{
    color: red;
}

.server-delete{
    padding: 5px 0px;
    cursor: pointer;
}

.server-delete:hover{
    color: red;
}

.form-css {
    display: flex;
}

.input-css {
    width: 100px;
    margin: 2px 5px 0px 5px;
}

.current-server-name {
    color: #808080;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    font-weight: 800;
}
