.sc {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sc-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.sc-channels {
    margin-top: 15px;
}

.channel-wrapper > a {
    text-decoration: none;
    color: gray;
}

.channel-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sc-name {
    margin: 0px 0px 0px 10px;
}

.channel-icon {
    color: gray;
    margin: 0px;
    font-weight: 800px;
}
